In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("kidy.csv")

In [3]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
df_doubled = pd.concat([df, df], ignore_index=True)  # Simply double it

df_doubled.to_csv("doubled_dataset.csv", index=False)

In [5]:
df_doubled

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
796,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
797,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
798,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
799,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [6]:
cols_drop = ['id', 'ba', 'pcc', 'pc', 'su', 'cad', 'pe', 'ane', 'appet', 'dm']  # You can customize based on missing values
df_clean = df_doubled.drop(columns=cols_drop)

In [7]:
df_clean

,age,bp,sg,al,rbc,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,classification
0,48.0,80.0,1.020,1.0,NaN,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,ckd
1,7.0,50.0,1.020,4.0,NaN,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,ckd
2,62.0,80.0,1.010,2.0,normal,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,ckd
3,48.0,70.0,1.005,4.0,normal,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,ckd
4,51.0,80.0,1.010,2.0,normal,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,55.0,80.0,1.020,0.0,normal,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,no,notckd
796,42.0,70.0,1.025,0.0,normal,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,no,notckd
797,12.0,80.0,1.020,0.0,normal,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,no,notckd
798,17.0,60.0,1.025,0.0,normal,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,no,notckd
799,58.0,80.0,1.025,0.0,normal,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,no,notckd

In [8]:
df_clean.isnull()

,age,bp,sg,al,rbc,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,classification
0,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
1,False,False,False,False,True,True,False,False,True,True,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
import numpy as np

In [10]:
df_clean.replace(to_replace=['\t\?', '\?', '--', ' '], value=np.nan, regex=True, inplace=True)

In [11]:
df_clean.isnull().sum()

age                18
bp                 24
sg                 94
al                 92
rbc               304
bgr                88
bu                 38
sc                 34
sod               174
pot               176
hemo              104
pcv               142
wc                212
rc                262
htn                 4
classification      0
dtype: int64

In [12]:
# First, let's clean the columns that should have numeric values.
num_cols = ['age', 'bp', 'sg', 'al', 'rbc', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']

# Convert to numeric and fill NaN with median
for col in num_cols:
    # Convert all values in column to numeric, invalid parsing will be set to NaN
    df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')
    
    # Now, fill missing values (NaN) with the median of the column
    df_clean[col].fillna(df_clean[col].median(), inplace=True)

In [13]:
df_clean.isnull().sum()

age                 0
bp                  0
sg                  0
al                  0
rbc               800
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                  0
htn                 4
classification      0
dtype: int64

In [14]:
df_clean.drop(columns=['rbc'], inplace=True)

In [15]:
df_clean.isnull().sum()

age               0
bp                0
sg                0
al                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               4
classification    0
dtype: int64

In [17]:
df_clean

,age,bp,sg,al,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,classification
0,48.0,80.0,1.020,1.0,121.0,36.0,1.2,138.0,4.4,15.4,44.0,7800.0,5.2,yes,ckd
1,7.0,50.0,1.020,4.0,121.0,18.0,0.8,138.0,4.4,11.3,38.0,6000.0,4.8,no,ckd
2,62.0,80.0,1.010,2.0,423.0,53.0,1.8,138.0,4.4,9.6,31.0,7500.0,4.8,no,ckd
3,48.0,70.0,1.005,4.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,yes,ckd
4,51.0,80.0,1.010,2.0,106.0,26.0,1.4,138.0,4.4,11.6,35.0,7300.0,4.6,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,55.0,80.0,1.020,0.0,140.0,49.0,0.5,150.0,4.9,15.7,47.0,6700.0,4.9,no,notckd
796,42.0,70.0,1.025,0.0,75.0,31.0,1.2,141.0,3.5,16.5,54.0,7800.0,6.2,no,notckd
797,12.0,80.0,1.020,0.0,100.0,26.0,0.6,137.0,4.4,15.8,49.0,6600.0,5.4,no,notckd
798,17.0,60.0,1.025,0.0,114.0,50.0,1.0,135.0,4.9,14.2,51.0,7200.0,5.9,no,notckd
799,58.0,80.0,1.025,0.0,131.0,18.0,1.1,141.0,3.5,15.8,53.0,6800.0,6.1,no,notckd

In [18]:
from sklearn.preprocessing import LabelEncoder

# Initialize the label encoder
le = LabelEncoder()

# Apply label encoding to the 'classification' and 'htn' columns
df_clean['classification'] = le.fit_transform(df_clean['classification'])
df_clean['htn'] = le.fit_transform(df_clean['htn'])

In [19]:
df_clean

,age,bp,sg,al,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,classification
0,48.0,80.0,1.020,1.0,121.0,36.0,1.2,138.0,4.4,15.4,44.0,7800.0,5.2,1,0
1,7.0,50.0,1.020,4.0,121.0,18.0,0.8,138.0,4.4,11.3,38.0,6000.0,4.8,0,0
2,62.0,80.0,1.010,2.0,423.0,53.0,1.8,138.0,4.4,9.6,31.0,7500.0,4.8,0,0
3,48.0,70.0,1.005,4.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,1,0
4,51.0,80.0,1.010,2.0,106.0,26.0,1.4,138.0,4.4,11.6,35.0,7300.0,4.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,55.0,80.0,1.020,0.0,140.0,49.0,0.5,150.0,4.9,15.7,47.0,6700.0,4.9,0,2
796,42.0,70.0,1.025,0.0,75.0,31.0,1.2,141.0,3.5,16.5,54.0,7800.0,6.2,0,2
797,12.0,80.0,1.020,0.0,100.0,26.0,0.6,137.0,4.4,15.8,49.0,6600.0,5.4,0,2
798,17.0,60.0,1.025,0.0,114.0,50.0,1.0,135.0,4.9,14.2,51.0,7200.0,5.9,0,2
799,58.0,80.0,1.025,0.0,131.0,18.0,1.1,141.0,3.5,15.8,53.0,6800.0,6.1,0,2

In [21]:
df_clean.shape

(800, 15)

In [22]:
x=df_clean.iloc[:,0:-1]
y=df_clean.iloc[:,-1]

In [23]:
x

,age,bp,sg,al,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn
0,48.0,80.0,1.020,1.0,121.0,36.0,1.2,138.0,4.4,15.4,44.0,7800.0,5.2,1
1,7.0,50.0,1.020,4.0,121.0,18.0,0.8,138.0,4.4,11.3,38.0,6000.0,4.8,0
2,62.0,80.0,1.010,2.0,423.0,53.0,1.8,138.0,4.4,9.6,31.0,7500.0,4.8,0
3,48.0,70.0,1.005,4.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,1
4,51.0,80.0,1.010,2.0,106.0,26.0,1.4,138.0,4.4,11.6,35.0,7300.0,4.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,55.0,80.0,1.020,0.0,140.0,49.0,0.5,150.0,4.9,15.7,47.0,6700.0,4.9,0
796,42.0,70.0,1.025,0.0,75.0,31.0,1.2,141.0,3.5,16.5,54.0,7800.0,6.2,0
797,12.0,80.0,1.020,0.0,100.0,26.0,0.6,137.0,4.4,15.8,49.0,6600.0,5.4,0
798,17.0,60.0,1.025,0.0,114.0,50.0,1.0,135.0,4.9,14.2,51.0,7200.0,5.9,0
799,58.0,80.0,1.025,0.0,131.0,18.0,1.1,141.0,3.5,15.8,53.0,6800.0,6.1,0

In [24]:
y

0      0
1      0
2      0
3      0
4      0
      ..
795    2
796    2
797    2
798    2
799    2
Name: classification, Length: 800, dtype: int32

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y ,random_state=10 )
x_train

,age,bp,sg,al,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn
582,61.0,80.0,1.020,0.0,131.0,23.0,0.8,140.0,4.1,11.30,35.0,8000.0,4.8,0
7,24.0,80.0,1.015,2.0,410.0,31.0,1.1,138.0,4.4,12.40,44.0,6900.0,5.0,0
687,39.0,70.0,1.025,0.0,124.0,22.0,0.6,137.0,3.8,13.40,43.0,8000.0,4.8,0
179,72.0,90.0,1.010,2.0,124.0,53.0,2.3,138.0,4.4,11.90,39.0,8000.0,4.8,0
252,45.0,80.0,1.025,0.0,82.0,49.0,0.6,147.0,4.4,15.90,46.0,9100.0,4.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,75.0,70.0,1.020,0.0,107.0,48.0,0.8,144.0,3.5,13.60,46.0,10300.0,4.8,0
320,57.0,60.0,1.020,0.0,105.0,49.0,1.2,150.0,4.7,15.70,44.0,10400.0,6.2,0
527,71.0,60.0,1.015,4.0,118.0,125.0,5.3,136.0,4.9,11.40,35.0,15200.0,4.3,1
125,72.0,90.0,1.020,0.0,308.0,36.0,2.5,131.0,4.3,12.65,40.0,8000.0,4.8,1
265,50.0,80.0,1.020,0.0,97.0,40.0,0.6,150.0,4.5,14.20,48.0,10500.0,5.0,0

In [35]:
x_test

,age,bp,sg,al,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn
27,69.0,70.0,1.010,3.0,264.0,87.0,2.7,130.0,4.0,12.50,37.0,9600.0,4.1,1
334,24.0,80.0,1.025,0.0,125.0,42.0,1.3,136.0,3.5,15.40,43.0,5600.0,4.5,0
730,43.0,80.0,1.020,0.0,114.0,32.0,1.1,135.0,3.9,12.65,42.0,8000.0,4.8,0
392,57.0,80.0,1.020,0.0,133.0,48.0,1.2,147.0,4.3,14.80,46.0,6600.0,5.5,0
495,62.0,90.0,1.015,1.0,94.0,25.0,1.1,131.0,3.7,12.65,40.0,8000.0,4.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,55.0,90.0,1.020,0.0,207.0,80.0,6.8,142.0,5.5,8.50,40.0,8000.0,4.8,1
693,50.0,80.0,1.020,0.0,92.0,19.0,1.2,150.0,4.8,14.90,48.0,4700.0,5.4,0
120,72.0,90.0,1.025,1.0,323.0,40.0,2.2,137.0,5.3,12.60,40.0,8000.0,4.8,0
250,40.0,80.0,1.025,0.0,140.0,10.0,1.2,135.0,5.0,15.00,48.0,10400.0,4.5,0
618,33.0,90.0,1.015,0.0,92.0,19.0,0.8,138.0,4.4,11.80,34.0,7000.0,4.8,0

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:

clf_gini=DecisionTreeClassifier(criterion='gini',random_state=0)
clf_gini.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [29]:
from sklearn.metrics import accuracy_score

In [31]:
p=clf_gini.predict(x_test)

In [32]:
print(accuracy_score(p,y_test))

0.99

In [33]:
import pickle

In [34]:
with open("model1.pkl",'wb') as file:
    pickle.dump(clf_gini,file)



# Load the saved model
with open("model1.pkl", 'rb') as file:
    clf_gini_loaded = pickle.load(file)

# Function to get user input for each feature (matching the dataset columns)
def get_user_input():
    # For numeric columns, enter the values directly as integers or floats
    age = float(input("Enter Age: "))  # Age (e.g., 48)
    bp = float(input("Enter BP (Blood Pressure): "))  # BP (e.g., 80)
    sg = float(input("Enter SG (Specific Gravity): "))  # SG (e.g., 1.020)
    al = float(input("Enter AL (Albumin): "))  # AL (e.g., 1.0)
    bgr = float(input("Enter BGR (Blood Glucose Random): "))  # BGR (e.g., 121.0)
    bu = float(input("Enter BU (Blood Urea): "))  # BU (e.g., 36.0)
    sc = float(input("Enter SC (Serum Creatinine): "))  # SC (e.g., 1.2)
    sod = float(input("Enter SOD (Sodium): "))  # SOD (e.g., 138.0)
    pot = float(input("Enter POT (Potassium): "))  # POT (e.g., 4.4)
    hemo = float(input("Enter HEMO (Hemoglobin): "))  # HEMO (e.g., 15.4)
    pcv = float(input("Enter PCV (Packed Cell Volume): "))  # PCV (e.g., 44.0)
    wc = float(input("Enter WC (White Blood Cells): "))  # WC (e.g., 7800.0)
    rc = float(input("Enter RC (Red Blood Cells Count): "))  # RC (e.g., 5.2)

    # For categorical columns like 'htn', enter the encoded values (e.g., 0 or 1)
    htn = int(input("Enter HTN (Hypertension - 0 or 1): "))  # HTN (0 or 1)

    # Return the values as a list (matching the model's expected input format)
    return [[age, bp, sg, al, bgr, bu, sc, sod, pot, hemo, pcv, wc, rc, htn]]

# Get the user input
user_input = get_user_input()

# Make predictions using the loaded model
predictions = clf_gini_loaded.predict(user_input)

# Display the predicted class with readable output
if predictions[0] == 0:
    print("Predicted class: CKD (Chronic Kidney Disease)")
else:
    print("Predicted class: No CKD")